
@model Datalager.Models.Photo

@{
    ViewBag.Title = "Ladda upp en ny bild";

}

<h3>Ladda upp en ny bild</h3>

@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.ValidationMessage("error")
    </div>

    @Html.TextBoxFor(photo => photo.PhotoName)

    <input type="file" name="file" />

    <input type="submit" value="Ladda upp" />
}

<div id="result"></div>
